<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Template - vite-cordova</name>
    <description>A template for cordova using react with vite</description>
    <author email="heltonfabio@placeholdermail.com" href="https://github.com/hfabio">Helton Fábio</author>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-targetSdkVersion" value="33" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
